[Unit]
Description=kakao-git-webhook
After=network.target
 
[Service]
ExecStart=npm start
Restart=on-failure
User=cola
WorkingDirectory=/home/cola/KakaoGitWebhook

[Install]
WantedBy=multi-user.target
